[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
sqlalchemy = "==1.4.23"
psycopg2 = "*"
alembic = "*"
apscheduler = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
ferment-pi = {editable = true, path = "."}
tenacity = "*"

[dev-packages]
autopep8 = "*"
requests = "*"
pytest = "*"
pytest-watch = "*"

[requires]
python_version = "3.9"
